# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub/
build/
flutter_*.png
flutter_*.jpg
flutter_*.webp

# Android related
**/android/app/debug
**/android/app/profile
**/android/app/release

# iOS related
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*.xccheckout
**/ios/**/*.xcscmblueprint

# macOS related
**/macos/**/*.mode1v3
**/macos/**/*.mode2v3
**/macos/**/*.moved-aside
**/macos/**/*.pbxuser
**/macos/**/*.perspectivev3
**/macos/**/*.xccheckout
**/macos/**/*.xcscmblueprint

# Windows related
**/windows/**/*.exe
**/windows/**/*.pdb
**/windows/**/*.mdb

# Linux related
**/linux/**/*.so

# Web related
**/web/**/*.js
**/web/**/*.wasm

# Test related
coverage/

# Miscellaneous
*.log
*.pid
*.seed
*.pid.lock

# Directory for the artifacts
artifacts/

# Temporary folders
tmp/
temp/

.env
